<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICommon - HomePage</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css"
 href="{% static 'community/styles.css' %}" />
 <div class="banner">
  <div class="navbar">
      <ul>
          {% if not user.is_authenticated %}
   <li><a href= "{% url 'community:registarnovo' %}"> Sign Up </a></li>
   <li><a href= "{% url 'community:loginview' %}"> Login </a></li>
          {% endif %}
          {% if user.is_superuser %}
   <li><a href= "{% url 'community:seerequest' %}"> Requests </a></li>
   <li><a href= "{% url 'community:createcommunities' %}"> Create community </a></li>
          {% endif %}
          {% if not user.is_superuser  %}
          {% if user.is_authenticated %}
   <li><a href= "{% url 'community:createrequest' %}"> Send request </a></li>
   <li><a href= "{% url 'community:mycommunities' %}"> My Communities </a></li>
          {% endif %}
          {% endif %}
          {% if user.is_authenticated %}
   <li><a href= "{% url 'community:logoutt' %}"> Logout </a></li>
          {% endif %}
          </ul>
    </div>
      <div class="content">
     {% if request.user.is_authenticated %}
        <h1> Welcome {{ request.user.username }} !</h1>
    {% else %}
        <h1>User is not logged:(</h1>
    {% endif %}
          {% if error_message %}
            <div class="error"><strong>{{ error_message }}</strong></div>
{% endif %}
          {% if communities_list %}
    <h3> Community list </h3>
 {% for community in communities_list %}
            <div class="comunidades1">
                <li><a href= "{% url 'community:viewpage' community.id %}"> <img src={{ community.image }} class="slider-img"> </a> </li>
                 <form action="{% url 'community:viewpage' community.id %}" style="display:inline-block;">
         <div class="registerdeny"> <input type="submit" value="View" /> </div>
     </form>
              {% if user.is_authenticated %}
              {% if not user.is_superuser %}
               {% if not request.user == community.user %}
              {% if community.users.all %}
              {% for utilizador in community.users.all %}
              {% if utilizador.user == request.user %}
           <form action="{% url 'community:leavecommunity' community.id %}" style="display:inline-block;">
         <div class="registerdeny"> <input type="submit" value="Leave" /> </div>
     </form>
                {% else  %}
                 <form action="{% url 'community:joincommunity' community.id %}" style="display:inline-block;">
         <div class="registeraccept"> <input type="submit" value="Join" /> </div>
     </form>
              {% endif %}
              {% endfor %}
                {% else %}
                <form action="{% url 'community:joincommunity' community.id %}" style="display:inline-block;">
         <div class="registeraccept"> <input type="submit" value="Join" /> </div>
     </form>
                {% endif %}
                {% endif %}
                {% endif %}
              {% endif %}
             {% if user.is_superuser %}
               <form action="{% url 'community:deletecommunity' community.id %}" style="display:inline-block;">
         <div class="registerdelete"> <input type="submit" value="Delete" /> </div>
     </form>
              {% endif %}
              </div>
          {% endfor %}
          {% else %}
<p>There are no communities available.</p>
{% endif %}
 </div>
 </div>
<div class="about">
    <h3> Information </h3>
        <p>  Made by :
         <br>Maria Costa,
         <br>Nathan Lopes,
         <br>Rodrigo Santos </p>
    <a href="https://www.iscte-iul.pt/"> <img src='../../static/community/images/logo.png'> </a>
    {% if request.user.is_authenticated and not user.is_superuser %}
    <div class="division"> </div>
    <div class="futureimage">  <img src= {{ request.session.user_image}}> </div>
    <div class="information">
       <p> Name = {{ request.user.username }}
       <br> Email = {{ request.user.email }}
       <br> Number of communities joined : {{ my_communities }}
       <br> Number of communities you are the admin : {{ admin_communities }} </p>
    </div>
    {% elif user.is_superuser %}
    <div class="division"> </div>
    <div class="futureimage">  <img src='../../static/community/images/queen.jpg' > </div>
    <div class="information">
        <p> Admin, here is the information about the communities
        <br> Communities number : {{ communities_list|length }}
        <br> Total users : {{ utilizadores_list|length }}
        <br> Total posts : {{ posts_list|length }}</p>
    </div>
    {% else %}
     <div class="division"> </div>
    <div class="futureimage">  <img src='../../static/community/images/unknown.jpg'>  </div>
    <div class="information">
       <p> You are not logged in yet </p>
    </div>
    {% endif %}
</div>
</body>