<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Cardo&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css"
 href="{% static 'community/forms.css' %}" />
    <div class="container">
        <div class="text"><h1>Login</h1></div>
{% if error_message %}
<div class="error"><p><strong>{{ error_message }}</strong></p></div>
{% endif %}
<form action="{% url 'community:loginview' %}" method="POST"> {% csrf_token %}
    <div class="data">
        <label> Username :</label>
    <input required type="text" name="username"/>
        <br/></div>
   <div class="data">
       <label> Password :</label>
    <input required type="password" name="password"/>
    <br/></div>
    <div class="btn">
         <input required type="submit" value="Login" name="loginview"/>
        </div>
    <div class="signup_link"> Not a member?
     <a href= "{% url 'community:registarnovo' %}"> Sign up </a>
        </div>
</form>
        </div>
</body>
</html>