<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICommon - HomePage</title>
      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
 href="{% static 'community/styles.css' %}" />
</head>
<body>
<div class="banner">
<div class="navbar"> <ul> <li><a href="{% url 'community:index' %}"> Home </a></li> </ul> </div>
    <div class="joined">
    <h3 style="margin-top: -7.2%"> Communities joined </h3>
    {% if communities_list %}
       <div id="joined" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
{% for community in communities_list %}
       {% if forloop.first %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <h6 style="color:white" class="text-center" display="inline-block">{{ community.name }}</h6>
                                <img src="{{ community.image }}" style="height:220px; width:220px !important;margin-left: 41.8%"  class="d-block w-100">
                                <form action="{% url 'community:viewpage' community.id %}" style="display:inline-block; margin-left: 46.5%">
                                    <div class="registerdelete"> <input type="submit" value="View" /> </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="carousel-item {% if  forloop.first %} active {% endif %}">
                                  <h2 style="color:white" class="text-center" display="inline-block">{{ community.name }}</h2>
                                <img src="{{ community.image }}" style="height:300px; width:220px !important;margin-left: 41.8%"  class="d-block w-100">
                                <form action="{% url 'community:viewpage' community.id %}" style="display:inline-block; margin-left: 42.5%">
                                    <div class="registerdeny"> <input type="submit" value="View" /> </div>
                                </form>
                            </div>
                        {% endif %}
                        <a class="carousel-control-prev" href="#joined" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#joined" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    {% endfor %}
                    {% else %}
                    <h3> Sorry you didn´t join any communities </h3>
                    {% endif %}
                </div>
       </div>
    </div>
    <div class="admin">
       <h3> Communities you are admin  </h3>
      {% if communities_admin_list %}
          <div id="admin" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
{% for community in communities_admin_list %}
       {% if forloop.first %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <h6 style="color:white" class="text-center" display="inline-block">{{ community.name }}</h6>
                                <img src="{{ community.image }}" style="height:220px; width:220px !important;margin-left: 41.8%;"  class="d-block w-100">
                                <form action="{% url 'community:viewpage' community.id %}" style="display:inline-block; margin-left: 46.5%">
                                    <div class="registerdelete"> <input type="submit" value="View" /> </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="carousel-item {% if  forloop.first %} active {% endif %}">
                                 <h6 style="color:white" class="text-center" display="inline-block">{{ community.name }}</h6>
                                <img src="{{ community.image }}" style="height:220px; width:220px !important;margin-left: 41.8%"  class="d-block w-100">
                                <form action="{% url 'community:viewpage' community.id %}" style="display:inline-block; margin-left: 46.5%">
                                    <div class="registerdelete"> <input type="submit" value="View" /> </div>
                                </form>
                            </div>
                        {% endif %}
                        <a class="carousel-control-prev" href="#admin" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#admin" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    {% endfor %}
                    {% else %}
                    <h3> Sorry you didn´t join any communities </h3>
                    {% endif %}
    </div>
 </div>
</div>
        <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>