<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICommon - HomePage</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css"
 href="{% static 'community/styles.css' %}" />
<div class="banner">
<div class="content">
    <div class="joined">
    <h3> Communities joined </h3>
        </div>
{% for community in communities_list %}
      <div class="communitiesJoined">
      <li> <a href=  "{% url 'community:viewpage' community.id %}">
          <img src={{ community.image }}>
      </a>
          </li>
          <form action="{% url 'community:loginview' %}" style="display:inline-block;">
         <div class="views"> <input type="submit" value="View" /> </div>
     </form>
           </div>
{% empty %}
    <div class="nocommunities"> Sorry, you didn´t joined any communities.</div>
{% endfor %}
   <div class="admin">
       <h3> Communities you are admin  </h3> </div>
{% for community in communities_admin_list %}
      <div class="communitiesAdmin">
      <li> <a href=  "{% url 'community:viewpage' community.id %}">
          <img src={{ community.image }}>
      </a>
          </li>
          <form action="{% url 'community:loginview' %}" style="display:inline-block;">
         <div class="views"> <input type="submit" value="View" /> </div>
     </form>
           </div>
{% empty %}
   <div class="nocommunities"> Sorry, are not an admin of any communities.</div>
{% endfor %}
 </div>
</div>
</div>
</body>
</html>