<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" type="text/css"
 href="{% static 'community/styles.css' %}" />
<div class="banner">
    <div class="navbar"> <ul> <li><a href="{% url 'community:index' %}"> Home </a></li> </ul> </div>
     <div class="content">
         {% if request_list %}
    <h3 style="margin-top: -10%;"> Requests list </h3>
        <ul>
 {% for request in request_list %}
 <li>
     <div style="margin-top: 2%">
{{ request.name }}
     <form action="{% url 'community:acceptrequest' request.id %}" style="display:inline-block;">
         <div class="registeraccept"> <input type="submit" value="Accept" /> </div>
     </form>
     <form action="{% url 'community:denyrequest' request.id %}" style="display:inline-block;">
         <div class="registerdeny">   <input type="submit" value="Deny" /> </div>
     </form>
     </div>
  {% endfor %}
 </li>
</ul>
 </div>
{% else %}
<p>There are no requests available.</p>
{% endif %}
     </div>
</body>
</html>